body{
    text-align:center;
    background:#e6e6fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.image_one{
    width: 30%;
    height: 40%;
    border: 3px solid white;
    color: white;
    border-radius: 20%;
    font-size: 22px;
    margin-left: auto;
    padding: 1%;
  }