body{
    text-align:center;
    background:#e6e6fa;
    font-family: 'Courier New', Courier, monospace;
  }

div{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 30px;
}

header{
    background-color: #34013f;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
}

.image_one{
    width: 30%;
    height: 40%;
    border: 3px solid white;
    color: white;
    border-radius: 20%;
    font-size: 22px;
    margin-left: auto;
    padding: 1%;
}

.error{
    color: rgb(255, 0, 0);
    font-size: 18px;
}