body{
    text-align:center;
    background:#e6e6fa;
    font-family: 'Courier New', Courier, monospace;
  }

div{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 30px;
}

header{
    background-color: #34013f;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
}