{% extends "base.html" %}
{% block lab %}Лабораторная работа №5{% endblock %}

{% block main %}
    <header style="display: flex; background-color: white;">
        <div style="color: blue; margin: 30px; font-size: 20pt; font-weight: bold;">База знаний</div>
        <div style="margin: 35px; text-decoration: none;"><a style="text-decoration: none;" href="/lab5/articles">Посмотреть заметки</a></div>
        <div style="margin: 35px;"><a style="text-decoration: none;" href="/lab5/create_zametki">Создать заметки</a></div>
        <form action="/lab5/login5">
            <button style="
                background-color: white; 
                border: solid blue 3px; 
                border-radius: 12px;
                font-size: 13pt;
                padding: 5px 20px;
                margin: 30px;
                cursor: pointer;" 
            
                type="submit">Логин</button>
        </form>
        <form  action="/lab5/register">
            <button style="
                background-color: blue; 
                border: solid blue 3px; 
                border-radius: 12px;
                font-size: 13pt;
                padding: 5px 20px;
                margin: 30px;
                color: white;
                cursor: pointer;" 

                type="submit">Регистрация</button>
        </form>
        
        {% if username %}
            <div style="
            font-weight: bold;
            color: blue;
            margin-left: 1%;">
            {{ username }}</div>
        {% else %}
            <div style="
            font-style: italic;
            font-size: 14pt;
            color: blue;
            margin-left: 1%;
            margin: 35px;">Anon</div>
        {% endif %}

        <form  method="POST" action="/lab5/logout">
            <button style="
            background-color: blue; 
            border: solid blue 3px; 
            border-radius: 12px;
            font-size: 13pt;
            padding: 5px 20px;
            margin: 30px;
            color: white;
            cursor: pointer;"
            type="submit">Выход</button>
        </form>
        
    </header>

{% endblock %}